@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
main {
  font-family: var(--f-bebas-neue);
  scroll-behavior: smooth;
}
main {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
